@model IEnumerable<DBRepostitory.Models.Customers>
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<div class="row">

    <div id="grid"></div>

    @*@foreach(var item in Model.ToList())
        {
            <div class="col-sm-4">@item.ContactName</div>
            <div class="col-sm-4">@item.Address</div>
            <div class="col-sm-4">@item.Phone</div>
        }*@

</div>

@section Scripts{

    <script>
        let $grid = $("#grid")  ;

        $(document).ready(onReady);

        function onReady() {

            funGetQuery()

        }

        function funGetQuery() {
            $grid.kendoGrid({
                dataSource: {
                    transport: {
                        read: {
                            url: "@Url.Action("GetCustomerList")",
                            dataType: "json",
                            type: "post",

                        },
                        create: {
                            url: "@Url.Action("SaveCustomer")",
                            dataType: "JSON",
                            type:"POST"
                        },
                        update: {
                            url: "@Url.Action("SaveCustomer")",
                            dataType: "JSON",
                            type:"POST"
                        },
                        destroy: {
                             url: "@Url.Action("DeleteCustomer")",
                            dataType: "JSON",
                            type:"POST"
                        }
                    },
                    schema: {
                        data: function (e) {
                            return e.data;
                        },
                        total: function (e) {
                            return e.total
                        },
                        model: {
                            id: "CustomerID",
                            field: {
                                CutomerID: {
                                    ediable: false,
                                    nullable: true
                                },
                                ContactName: {
                                    validation: { required: true }
                                },
                                Address: { type: "text" },
                                Phone: { type: "text" }
                            }
                        }
                    },
                    pageSize: 10,
                    serverPaging: true,
                    serverFiltering: true,
                    serverSorting: true
                },
                batch:true,
                toolbar: ["create"],
                groupable: true,
                sortable: true,
                pageable: {
                    refresh: true,
                    //pageSizes: true,
                    buttonCount: 5,
                    pageSizes: [5, 10, 20, 100]
                },
                editable: "inline",
                columns: [
                    {
                        field: "ContactName",
                        title: "Contact Name",
                        width: "120px"
                    },
                    {
                        field: "Address",
                        title: "Address",
                        width: "120px"
                    },
                    {
                        field: "Phone",
                        title: "Phone",
                        width: "120px",
                    },
                    {
                        command: ["edit", "destroy"],
                        title: "&nbsp;",
                        width: "250px"
                    }
                ]
            })
        }

    </script>


}