@model PazzoProject_01.Controllers.ProductModel
@{
    ViewBag.Title = "Index";
}

<h2>Created using EF</h2>

<div class="row col-lg-12">
    <div class="col-sm-2">
        Name
    </div>
    <div class="col-sm-4">
        Address
    </div>
    <div class="col-sm-2">
        Phone
    </div>
    <div class="col-sm-4">
        Action
    </div>
</div>
<div class="row col-lg-12">
    @foreach (var item in Model.CustomerItems)
    {
        <div class="col-sm-2">
            @item.ContactName
        </div>
        <div class="col-sm-4">
            @item.Address
        </div>
        <div class="col-sm-2">
            @item.Phone
        </div>
        <div class="col-sm-4">
            <a data-value="@item.CustomerID" 
               href="javascript:void(0)" class="btn btn-default">Edit</a>
        </div>
    }
</div>
<div class="row col-lg-12">
    <div class="col-sm-12">
        @{ for (int i = 1; i <= Model.PageCount; i++)
           {
               <a href="@Url.Action("Index", new {pageNumber = i})">@i.ToString()</a>
           }

        }
    </div>
</div>
